<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build</key>
	<integer>67</integer>
	<key>Time Stamp</key>
	<real>1764150784.451509</real>
	<key>UUID</key>
	<string>7FB3A756-DE00-4595-AD66-FB1F7DED35C6</string>
</dict>
</plist>
